*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$header_color: rgb(0, 0, 255);
$sphere_main_bg_color: rgba(0, 255, 255, 0.35);
$sphere_second_bg_color: rgba(0, 255, 255, 0.2);
$sphere_border_color: rgba(22, 69, 222, 0.49);
$bg_color: rgb(0, 0, 0);

@mixin sphere_size($device_min_width, $width, $height) {
  @media screen and (min-width: $device_min_width){
    width: $width;
    height: $height;
  }
}
@mixin header_height_size($device_min_width, $padding_top_bottom, $font_size) {
  @media screen and (min-width: $device_min_width) {
    padding: $padding_top_bottom;
    font-size: $font_size;
  }
}

.container {
  display: flex;
  flex-flow: nowrap column;
}

header {
  background-color: $bg_color;
  color: $header_color;
  width: 100vw;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  padding: 50px 0;
  overflow: hidden;

  @include header_height_size(768px, 60px 0, 2em);
  @include header_height_size(1024px, 80px 0, 3em);
}

.sphere {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid $sphere_border_color;
  border-radius: 50%;
  background-color: $sphere_main_bg_color;
  filter: drop-shadow(0px 0px 40px #f1ecec);

  //animation: spin 12.66s linear infinite;
  transform-style: preserve-3d;
  -ms-transform: none;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  @include sphere_size(768px, 400px, 400px);
  @include sphere_size(1024px, 600px, 600px);
}

.sphere h1 {
  background: linear-gradient(blue, red);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.sphere::before,
.sphere::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  color: $header_color;
  border: 1px solid $sphere_border_color;
  border-radius: 50%;
  content: "NEXT.JS";
  background-color: $sphere_second_bg_color;

  @include sphere_size(768px, 400px, 400px);
  @include sphere_size(1024px, 600px, 600px);
}

.sphere::before {
  transform: rotateX(-66.6deg);
}

.sphere::after {
  transform: rotateX(66.6deg);
}

@keyframes spin {
  0% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
  }
}

section {
  // background image styling
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  height: 100vh;
  padding: 1em;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2em;
  color: antiquewhite;
  height: 100vh;
}

.one {
  // section background image
  background-image: url("https://source.unsplash.com/1920x1080?autumn");
}
.two {
  background-image: url("https://source.unsplash.com/1920x1080?landscape");
}
.three {
  background-image: url("https://source.unsplash.com/1920x1080?nature");
}
.four {
  background-image: url("https://source.unsplash.com/1920x1080?forest");
}

footer {
  background-color: $bg_color;
  color: antiquewhite;
  font-size: 1em;
  text-align: center;
  padding: 1em 0;
}