
.e-com-container {
  height: 100vh;
  color: black;
  background-color: antiquewhite;
  display: flex;
  flex-flow: column nowrap;
}

.e-com-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.e-com-menu {
  position: absolute;
  left: 0;
  top: 70px;
  width: 100vw;
  height: calc(100% - 70px);
  background-color: rgb(0, 0, 0);
  animation: myMove 1s ease-in-out;
  color: antiquewhite;
  font-size: x-large;

  @keyframes myMove {
    from {background-color: rgba(255, 255, 255, 0.35);}
    to {background-color: rgba(0, 0, 0, 0.9);}
  }

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  z-index: 10;

  a {
    color: antiquewhite;
    margin: auto;
    align-self: flex-start;
  }
}

.e-com-content {
  flex-grow: 1;
}

.promo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 3.5em 0;
  background-color: #F4DFB7;

  h1, h2 {
    font-size: 3em;
  }

  p {
    font-size: 2em;
  }
}

.featuredImgTop {
  position: absolute;
  object-fit: cover;
  z-index: 10;

  :hover {
    opacity: 0;
    transition: opacity 0.5ms ease;
  }
}

.featuredImgBottom {
  position: absolute;
  object-fit: cover;
}

.e-com-footer {}